* {
    margin-top: 10px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border: solid black 3px;
}

th, td {
    border: solid black 1px;
    width: 16%;
    text-align: center;
}

#all {
    display: flex;
    justify-content: center;
}

#formulario {
    width: 95%;
    border: solid blue 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form{
    width: 100%;
    border: solid 1px purple;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.campo {
    border: solid 1px green;
    width: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.campo input {
    width: 70%;
}

#getCustomers, #addCustomer, #getCustomer {
    border: solid green 1px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#getCustomer {
    justify-content: space-around;
}

#getCustomer input {
    width: 50px;
}